src/main/mule/subapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0edd4fdf-f9b8-4961-9187-2f153d1225cf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="subapiFlow" doc:id="ed4bb799-b792-416b-84f1-38b70c75e539" >
		<http:listener doc:name="Listener" doc:id="6400932f-4fb0-48b4-b617-a5c799d149b0" config-ref="HTTP_Listener_config" path="sub"/>
		<logger level="INFO" doc:name="Logger" doc:id="2afbc543-e9ff-4d72-ad9b-bd2633529191" message='#["subtraction"]'/>
		<ee:transform doc:name="Transform Message" doc:id="2eb2d755-92e6-410a-93b9-de8d942099d0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"sub" : attributes.queryParams.fname - attributes.queryParams.lname
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4f223120-6514-4cd2-888a-f511294932e1" message='#["sub": payload.sub]'/>
	</flow>
</mule>
